@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 30px;
    color: white;
}

main {
    background-color: white;
    padding: 15px;
    width: 500px;
    border-radius: 15px;
}

div#container-form {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 5px;
}

div#container-form > p {
    margin: 10px 0px;
}

footer {
    margin: 15px;
    color: white;
}