
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(95, 76, 46);
    color: white;
}

header {
    text-align: center;
    margin: 30px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.425);
}

div#container-form > p {
    margin: 15px 0px;
}

div#container-res > p {
    text-align: center;
}

div#container-res > img {
    display: none;
    margin: 10px 0px 0px 100px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    outline: 5px solid rgb(95, 76, 46);
}

footer {
    text-align: center;
    margin: 15px;
}
