@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3f88c4;
    font: normal 15px Arial
}

header {
    color: white;
    text-align: center;
    padding: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
}

div#container-msg > p {
    margin: 5px 0px 20px 0px;
}

div#container-foto > img {
    outline: 5px solid rgb(31, 31, 31);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

footer {
    color: white;
    text-align: center;
    padding: 15px;
}